ria-wcf-duplex-solution/MyWork.ConsoleClient/Service References/ServiceReference1/EchoDuplexService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Silverlight" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Silverlight" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Silverlight/Imports">
      <xsd:import schemaLocation="http://localhost:6565/Services/EchoDuplexService.svc?xsd=xsd0" namespace="Silverlight" />
      <xsd:import schemaLocation="http://localhost:6565/Services/EchoDuplexService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEchoDuplexService_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IEchoDuplexService_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoDuplexService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IEchoDuplexService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoDuplexService_UnRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegister" />
  </wsdl:message>
  <wsdl:message name="IEchoDuplexService_UnRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoDuplexService_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:portType name="IEchoDuplexService">
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="Silverlight/IEchoDuplexService/Echo" message="tns:IEchoDuplexService_Echo_InputMessage" />
      <wsdl:output wsaw:Action="Silverlight/IEchoDuplexService/EchoResponse" message="tns:IEchoDuplexService_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="Silverlight/IEchoDuplexService/Register" message="tns:IEchoDuplexService_Register_InputMessage" />
      <wsdl:output wsaw:Action="Silverlight/IEchoDuplexService/RegisterResponse" message="tns:IEchoDuplexService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegister">
      <wsdl:input wsaw:Action="Silverlight/IEchoDuplexService/UnRegister" message="tns:IEchoDuplexService_UnRegister_InputMessage" />
      <wsdl:output wsaw:Action="Silverlight/IEchoDuplexService/UnRegisterResponse" message="tns:IEchoDuplexService_UnRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <wsdl:output wsaw:Action="Silverlight/IEchoDuplexService/Receive" message="tns:IEchoDuplexService_Receive_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>